# EDA

## Regression Data
- https://rpubs.com/shihui17170153/abalone
- https://www.kaggle.com/code/anmolbajpai/abalone-age-prediction-regression
- https://rstudio-pubs-static.s3.amazonaws.com/378381_1221e0d1034b4020a38a862a76890bb6.html

## Binary Classification
- https://www.kaggle.com/datasets/colearninglounge/predicting-pulsar-starintermediate
- https://datauab.github.io/pulsar_stars/
- https://towardsdatascience.com/predicting-pulsar-stars-an-imbalanced-classification-task-comparing-bootstrap-resampling-to-smote-8cfbe037b807

## Multiple Classification
- https://www.kaggle.com/code/tahazafar/steel-plate-faults-data-analysis/notebook
- https://mindcompass.github.io/data_analysis/data_analysis(test2_1)/

In [14]:
import pandas as pd
from ydata_profiling import ProfileReport
import os

In [4]:
print(f"✅ 현재 위치 : {os.getcwd()}")

✅ 현재 위치 : d:\coding\aib\teamproject_1\leeyeonjun

## Regression Data
- https://rpubs.com/shihui17170153/abalone
- https://www.kaggle.com/code/anmolbajpai/abalone-age-prediction-regression
- https://rstudio-pubs-static.s3.amazonaws.com/378381_1221e0d1034b4020a38a862a76890bb6.html

In [21]:
csv_path = '../data/Regression_data.csv'
reg_df = pd.read_csv(csv_path)
print(f'{reg_df.shape}')
reg_df.head()

(4177, 9)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [22]:
reg_df.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [18]:
reg_df_report = ProfileReport(reg_df, title='Regresstion Data Profile Report')
reg_df_report.to_file('reg_df_report.html')

Summarize dataset: 100%|██████████| 82/82 [00:09<00:00,  8.63it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.10s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.42s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 125.02it/s]

## Binary Classification
- https://www.kaggle.com/datasets/colearninglounge/predicting-pulsar-starintermediate
- https://datauab.github.io/pulsar_stars/
- https://towardsdatascience.com/predicting-pulsar-stars-an-imbalanced-classification-task-comparing-bootstrap-resampling-to-smote-8cfbe037b807

In [23]:
csv_path = '../data/binary_classification_data.csv'
b_df = pd.read_csv(csv_path)
print(f'{b_df.shape}')
b_df.head()

(17898, 9)

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve,target_class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [24]:
b_df.columns

Index([' Mean of the integrated profile',
       ' Standard deviation of the integrated profile',
       ' Excess kurtosis of the integrated profile',
       ' Skewness of the integrated profile', ' Mean of the DM-SNR curve',
       ' Standard deviation of the DM-SNR curve',
       ' Excess kurtosis of the DM-SNR curve', ' Skewness of the DM-SNR curve',
       'target_class'],
      dtype='object')

In [19]:
b_df_report = ProfileReport(b_df, title='Binary Classification Data Profile Report')
b_df_report.to_file('b_df_report.html')

Summarize dataset: 100%|██████████| 82/82 [00:10<00:00,  7.90it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.16s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.44s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 100.02it/s]

## Multiple Classification
- https://www.kaggle.com/code/tahazafar/steel-plate-faults-data-analysis/notebook
- https://mindcompass.github.io/data_analysis/data_analysis(test2_1)/

In [11]:
csv_path = '../data/mulit_classification_data.csv'
m_df = pd.read_csv(csv_path)
print(f'{m_df.shape}')
m_df.head()

(1941, 34)

,X_Minimum,X_Maximum,Y_Minimum,Y_Maximum,Pixels_Areas,X_Perimeter,Y_Perimeter,Sum_of_Luminosity,Minimum_of_Luminosity,Maximum_of_Luminosity,...,Orientation_Index,Luminosity_Index,SigmoidOfAreas,Pastry,Z_Scratch,K_Scatch,Stains,Dirtiness,Bumps,Other_Faults
0,42,50,270900,270944,267,17,44,24220,76,108,...,0.8182,-0.2913,0.5822,1,0,0,0,0,0,0
1,645,651,2538079,2538108,108,10,30,11397,84,123,...,0.7931,-0.1756,0.2984,1,0,0,0,0,0,0
2,829,835,1553913,1553931,71,8,19,7972,99,125,...,0.6667,-0.1228,0.2150,1,0,0,0,0,0,0
3,853,860,369370,369415,176,13,45,18996,99,126,...,0.8444,-0.1568,0.5212,1,0,0,0,0,0,0
4,1289,1306,498078,498335,2409,60,260,246930,37,126,...,0.9338,-0.1992,1.0000,1,0,0,0,0,0,0

In [25]:
m_df.columns

Index(['X_Minimum', 'X_Maximum', 'Y_Minimum', 'Y_Maximum', 'Pixels_Areas',
       'X_Perimeter', 'Y_Perimeter', 'Sum_of_Luminosity',
       'Minimum_of_Luminosity', 'Maximum_of_Luminosity', 'Length_of_Conveyer',
       'TypeOfSteel_A300', 'TypeOfSteel_A400', 'Steel_Plate_Thickness',
       'Edges_Index', 'Empty_Index', 'Square_Index', 'Outside_X_Index',
       'Edges_X_Index', 'Edges_Y_Index', 'Outside_Global_Index', 'LogOfAreas',
       'Log_X_Index', 'Log_Y_Index', 'Orientation_Index', 'Luminosity_Index',
       'SigmoidOfAreas', 'Pastry', 'Z_Scratch', 'K_Scatch', 'Stains',
       'Dirtiness', 'Bumps', 'Other_Faults'],
      dtype='object')

In [20]:
m_df_report = ProfileReport(m_df, title='Multiple Classification Data Profile Report')
m_df_report.to_file('m_df_report.html')

Summarize dataset: 100%|██████████| 619/619 [01:26<00:00,  7.18it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:11<00:00, 11.21s/it]
Render HTML: 100%|██████████| 1/1 [00:18<00:00, 18.61s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  2.19it/s]