In [3]:
# import os
# print(f"✅ 현재 위치 : {os.getcwd()}")

# 클래스 코드 수정시 캐시된 파이선파일 재설정
import model3
import imp
imp.reload(model3)

import numpy as np
import sklearn
import tensorflow as tf

# 클래스 불러오기
import model3
from model3 import *

# 각종 변수 지정
csv_path = 'D:/coding/aib/GPTeachersDay/TeamProject1/leeyeonjun/data/mulit_classification_data.csv'
model_path = 'D:/coding/aib/GPTeachersDay/TeamProject1/leeyeonjun/model/model3_1/best_model_weights_classify.h5'

# 인스턴스 생성
steel = Model_3(csv_path, model_path, 0.8)

ValueError: Cannot assign value to variable ' dense_9/kernel:0': Shape mismatch.The variable shape (27, 1024), and the assigned value shape (20, 256) are incompatible.

In [2]:
# 저장된 가중치 불러와서 테스트데이터 평가
results = steel.model.evaluate(steel.X_test, steel.y_test)

print(f'Loss: {results[0]:.3f} / Accuracy:{results[1]:.3f}')

13/13 [==============================] - 1s 6ms/step - loss: 1.1904 - accuracy: 0.7532
Loss: 1.190 / Accuracy:0.753

In [164]:
# 학습 기록 json 확인
import json
with open('model3.json') as json_file:
    json_file = json.loads(json_file.read())
model3_hist = pd.DataFrame(json_file)
model3_hist

          loss  accuracy   val_loss  val_accuracy     lr
0    82.058937  0.164384  91.637733      0.324759  0.001
1    92.988396  0.346495  84.931625      0.221865  0.001
2    86.373833  0.198227  77.636223      0.279743  0.001
3    78.185234  0.238517  74.767197      0.086817  0.001
4    75.024757  0.103948  72.513588      0.180064  0.001
..         ...       ...        ...           ...    ...
295   0.923681  0.846898   1.228266      0.762058  0.001
296   0.924513  0.854150   1.231784      0.762058  0.001
297   0.921703  0.850927   1.247968      0.755627  0.001
298   0.915258  0.845286   1.221015      0.752412  0.001
299   0.920616  0.847703   1.262298      0.745981  0.001

[300 rows x 5 columns]

In [165]:
model3_hist.sort_values(by=['val_loss'], ascending=True).iloc[:5,:]

         loss  accuracy  val_loss  val_accuracy     lr
298  0.915258  0.845286  1.221015      0.752412  0.001
295  0.923681  0.846898  1.228266      0.762058  0.001
293  0.932745  0.850121  1.229056      0.765273  0.001
296  0.924513  0.854150  1.231784      0.762058  0.001
291  0.957041  0.830782  1.244908      0.762058  0.001

In [166]:
steel.df['Fault']

0       4
1       4
2       4
3       4
4       4
       ..
1936    3
1937    3
1938    3
1939    3
1940    3
Name: Fault, Length: 1941, dtype: int32

In [167]:
steel.model.predict(steel.X_test, verbose=0)

array([[1.09050192e-01, 2.20374437e-03, 2.75770873e-01, ...,
        1.12246163e-02, 1.11082615e-02, 7.15121906e-03],
       [9.21988070e-01, 7.53213244e-05, 1.41311437e-04, ...,
        2.84192920e-05, 5.52825441e-05, 1.01999636e-03],
       [2.96297371e-02, 1.40663562e-02, 1.42941324e-04, ...,
        5.78134835e-01, 9.64383435e-06, 2.37041677e-05],
       ...,
       [2.11185403e-03, 3.83028691e-06, 9.94466484e-01, ...,
        1.28896363e-05, 4.17622214e-05, 3.74688621e-04],
       [2.36817114e-02, 2.50652269e-03, 1.97948050e-03, ...,
        5.81561744e-01, 2.58571472e-05, 2.22561612e-05],
       [4.07349318e-01, 6.47429551e-04, 5.46827959e-03, ...,
        1.48469852e-02, 1.00854981e-04, 3.65690631e-03]], dtype=float32)

In [168]:
filt = steel.X[steel.df['Fault'] == 1]
test_input = list(filt.describe().loc[['mean']].values[0])
test_input = np.array([test_input])
print(test_input)
steel.model.predict(test_input, verbose=0)

[[ 8.87927273e+02  8.99163636e+02  2.31830405e+06  2.31836076e+06
   3.63490909e+02  4.51636364e+01  5.78545455e+01  4.05450545e+04
   1.02000000e+02  1.32618182e+02  1.41463636e+03  1.63636364e-01
   8.36363636e-01  8.44545455e+01  5.13347273e-01  4.04147273e-01
   2.30592727e-01  7.78181818e-03  3.53330909e-01  9.46320000e-01
   8.72727273e-01  2.33376182e+00  9.95763636e-01  1.56902364e+00
   5.95341818e-01 -9.18563636e-02  5.84501818e-01]]

array([[0., 0., 0., 1., 0., 0., 0.]], dtype=float32)

In [169]:
# filt = steel.X[steel.df['target_class'] == 0]
filt = steel.X[steel.df['Fault'] == 1]
test_input = list(filt.describe().loc[['mean']].values[0])
# print(f'테스트 인풋값 : {np.round(test_input, 3)}')

result = steel.input_predict(test_input)
print(f'결과 : {result}')

✅ input_list : [887.9272727272727, 899.1636363636363, 2318304.0545454547, 2318360.7636363637, 363.4909090909091, 45.163636363636364, 57.85454545454545, 40545.05454545454, 102.0, 132.61818181818182, 1414.6363636363637, 0.16363636363636364, 0.8363636363636363, 84.45454545454545, 0.5133472727272729, 0.40414727272727274, 0.2305927272727273, 0.007781818181818182, 0.3533309090909091, 0.94632, 0.8727272727272727, 2.3337618181818183, 0.9957636363636365, 1.5690236363636367, 0.5953418181818182, -0.09185636363636361, 0.5845018181818182]
✅ input_scaled : [[0.52077846 0.52379382 0.17904993 0.17905271 0.00234191 0.00403634
  0.00307739 0.00343217 0.52040816 0.44473573 0.33092833 0.16363636
  0.83636364 0.17097902 0.51582322 0.41081462 0.2241532  0.00638871
  0.34388282 0.94358974 0.87272727 0.35309541 0.19971646 0.32039408
  0.8000917  0.57025251 0.52449281]]
✅ result_list : [[0.20778985 0.42537433 0.00451265 0.17854305 0.14404792 0.00984425
  0.02988793]]
✅ y_label : 1
✅ y_RESULT : Dirtiness
결과 : Dirtiness

c:\Users\leeyeonjun85\.conda\envs\p310_1\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(