In [1]:
# import os
# print(f"✅ 현재 위치 : {os.getcwd()}")

# 클래스 코드 수정시 캐시된 파이선파일 재설정
import model1
import imp
imp.reload(model1)

# 클래스 불러오기
import model1
from model1 import *

# 모델 인스턴스 생성
abalone = Model_1()

# 데이터 불러오기
csv_path = 'D:/coding/aib/GPTeachersDay/TeamProject1/leeyeonjun/Data/Regression_data.csv'
df, X, y, X_train, X_test, y_train, y_test = abalone.load_data(csv_path)

# 모델 빌드
model = abalone.get_model(len(X_train.columns))

# 저장된 가중치 불러와서 테스트데이터 평가
model.load_weights('model1.h5')
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss : {loss:.3f}\nAccuracy  : {accuracy:.3f}')

import json
with open('model1.json') as json_file:
    json_file = json.loads(json_file.read())
model1_hist = pd.DataFrame(json_file)
model1_hist

C:\Users\leeyeonjun85\AppData\Local\Temp\ipykernel_109364\3666154868.py:6: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

26/26 [==============================] - 2s 8ms/step - loss: 5.6295 - accuracy: 0.9013
Test Loss : 5.630
Accuracy  : 0.901

           loss  accuracy    val_loss  val_accuracy
0    131.192703 -0.096118  103.111450      0.040583
1    129.185562 -0.092599  103.146111      0.040276
2    127.145515 -0.090032  103.047844      0.040554
3    125.466064 -0.084819  102.940742      0.040787
4    123.806526 -0.083170  102.850677      0.040831
..          ...       ...         ...           ...
724    4.688478  0.851766    5.719734      0.850781
725    4.443641  0.854889    5.831316      0.848734
726    4.498865  0.855773    5.805256      0.848638
727    4.419157  0.849015    5.540318      0.849886
728    4.494233  0.845081    5.330829      0.849511

[729 rows x 4 columns]

In [52]:
len(X_train.columns)

12

In [14]:
X.describe().loc[['mean', 'min', '50%', 'max']]

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Area,Perimeter,Sex_F,Sex_I,Sex_M
mean,0.527256,0.41047,0.140462,0.840869,0.363263,0.182497,0.241525,0.178895,1.484664,0.318001,0.312282,0.369717
min,0.110000,0.09000,0.000000,0.008000,0.002500,0.000500,0.003000,0.007775,0.315726,0.000000,0.000000,0.000000
50%,0.545000,0.42500,0.145000,0.811750,0.341250,0.172500,0.236000,0.183587,1.542143,0.000000,0.000000,0.000000
max,0.815000,0.65000,1.130000,2.825500,1.488000,0.760000,1.005000,0.416065,2.315766,1.000000,1.000000,1.000000

In [51]:
X.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Area,Perimeter,Sex_F,Sex_I,Sex_M
count,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000,4022.000000
mean,0.527256,0.410470,0.140462,0.840869,0.363263,0.182497,0.241525,0.178895,1.484664,0.318001,0.312282,0.369717
std,0.117982,0.097604,0.041455,0.488602,0.220715,0.109262,0.138670,0.073314,0.338807,0.465758,0.463482,0.482788
min,0.110000,0.090000,0.000000,0.008000,0.002500,0.000500,0.003000,0.007775,0.315726,0.000000,0.000000,0.000000
25%,0.455000,0.350000,0.115000,0.454625,0.190500,0.096000,0.134500,0.125467,1.277329,0.000000,0.000000,0.000000
50%,0.545000,0.425000,0.145000,0.811750,0.341250,0.172500,0.236000,0.183587,1.542143,0.000000,0.000000,0.000000
75%,0.615000,0.480000,0.165000,1.162500,0.506500,0.255375,0.330000,0.233165,1.737169,1.000000,1.000000,1.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,0.416065,2.315766,1.000000,1.000000,1.000000

In [50]:
X_input = list(X.describe().loc[['mean']].values[0][:-3]) + [0,0,1] # 암컷,새끼,수컷
def y_predict(X_input=X_input):
    y = model.predict([X_input], verbose=0)
    y = int(y[0][0])
    return y

y_predict()

16

In [53]:
X_input

[0.5272563401292889,
 0.41046991546494277,
 0.14046245648930877,
 0.8408694679264047,
 0.36326268025857783,
 0.1824966434609647,
 0.24152536051715565,
 0.1788951260375794,
 1.484663769188535,
 0,
 0,
 1]